<!-- Topbar Start -->
<div class="navbar-custom">
  <div class="container-fluid">
    <ul class="list-unstyled topnav-menu float-right mb-0">

      <li class="dropdown notification-list">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle nav-link" [ngClass]="{'open': openMobileMenu}" (click)="toggleMobileMenu($event)" href="javascript: void(0);">
            <div class="lines">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
        <!-- End mobile menu toggle-->
      </li>


    </ul>

    <!-- LOGO -->
    <div class="logo-box">
      <a href="/" class="logo text-center">
        <span class="logo-lg">
          <img src="assets/images/logo/logo.jpeg" alt="" height="68">
        </span>
        <span class="logo-sm">
          <img src="assets/images/logo/logo.jpeg" alt="" height="50">
        </span>
      </a>
    </div>
  </div>
</div>
<!-- end Topbar -->