<div class="card card-body shadow">
  <h1 class="card-title">
    ANTECEDENTES
  </h1>

  <p class="text-justify text-dark">
    La corrupción es un fenómeno complejo que ha mermado las instituciones y ha dañado a la sociedad, a la economía y a
    la
    democracia mexicana. El esfuerzo por combatir a la corrupción en México se ha reflejado en la modificación y
    creación
    de las leyes necesarias para hacer frente a este fenómeno. Como muestra de esto, los últimos años han estado
    marcados
    por importantes reformas constitucionales y la creación de nuevas leyes que constituyen el marco normativo del
    Sistema
    Nacional Anticorrupción.
  </p>

  <p class="text-justify text-dark">
    La Reforma Constitucional del 7 de febrero de 2014 adiciona y reforma diversas disposiciones del artículo 6to. de la
    Constitución Política de los Estados Unidos Mexicanos, en materia de Transparencia. Esta reforma amplió el catálogo
    de
    los sujetos obligados a transparentar su información. La reforma incluyó, por ejemplo, la obligación de hacer
    pública
    la información de los partidos políticos, los sindicatos, los órganos autónomos, los fideicomisos y los fondos
    públicos; fortalece al organismo garante a nivel federal y sienta las bases para crear organismos locales autónomos
    en
    todo el país; así como, reconoce y promueve el acceso a la información como un derecho fundamental para el
    desarrollo
    de la vida democrática mexicana. Otro gran esfuerzo que se logró a favor de la transparencia fue el del 4 de mayo de
    2015, día en que se publicó la Ley General de Acceso a la Información Pública.
  </p>

  <p class="text-justify text-dark">
    Para el año 2015, el 27 de mayo se publicó en el Diario Oficial de la Federación el Decreto por el cual se
    reformaron
    y
    adicionaron diversas disposiciones de la Constitución Política en Materia de Combate a la Corrupción. Entre estas
    reformas, destacan cuatro. La primera, es la creación del Sistema Nacional Anticorrupción en el artículo 113
    constitucional. La segunda, es el reconocimiento de la facultad que tiene el Congreso para expedir las leyes que
    establezcan las bases del Sistema Nacional Anticorrupción. La tercera, establece las responsabilidades de los
    servidores
    públicos y los particulares que incurran en actos de corrupción. Y, por último, la cuarta reforma amplía y fortalece
    las
    facultades de fiscalización de la Auditoría Superior de la Federación.
  </p>

  <p class="text-justify text-dark">
    Con la creación del Sistema Nacional Anticorrupción se publicaron en el Diario Oficial de la Federación el 18 de
    Julio
    de 2016, una serie de leyes secundarias, de las cuales cuatro fueron leyes de nueva creación y tres reformadas.
  </p>

  <p class="text-justify text-dark">
    Estas leyes son:
  </p>
  <p class="text-justify text-dark">
    <strong>1. Ley General del Sistema Nacional Anticorrupción.</strong> Esta Ley se creó para establecer las bases de
    coordinación entre la Federación, las entidades federativas, los municipios y las alcaldías de la Ciudad de México
    para el funcionamiento del SNA.
  </p>
  <p class="text-justify text-dark">
    <strong>2. Ley General de Responsabilidades Administrativas.</strong> Esta también es una Ley nueva, la cual
    establece las competencias de los órdenes de gobierno para establecer las responsabilidades, obligaciones y
    sanciones de los servidores públicos por los actos u omisiones en que incurran.
  </p>
  <p class="text-justify text-dark">
    <strong>3. Ley Orgánica del Tribunal Federal de Justicia Administrativa.</strong> Esta Ley se creó para establecer
    la integración, organización, atribuciones y funcionamiento del Tribunal Federal de Justicia Administrativa (TFJA).
    Además, la Ley establece que el TJFA es un órgano jurisdiccional con autonomía para emitir sus fallos y con
    jurisdicción plena. El TFJA forma parte del SNA.
  </p>
  <p class="text-justify text-dark">
    <strong>4. Ley de Fiscalización y Rendición de Cuentas de la Federación.</strong> Esta Ley se creó con el SNA y
    contiene lo referente a la revisión y fiscalización de la Cuenta Pública. Esta ley fortalece el papel de la
    Auditoría Superior de la Federación.
  </p>
  <p class="text-justify text-dark">
    <strong>5. Ley Orgánica de la Procuraduría General de la República.</strong> Esta ley se reformó para establecer las
    funciones y atribuciones de la Fiscalía Especializada en materia de delitos relacionados con hechos de corrupción.
  </p>
  <p class="text-justify text-dark">
    <strong>6. Código Penal Federal. Esta ley se reformó para armonizar el código penal con el SNA. </strong> Esta
    reformaincluyó un título al Código sobre Delitos por hechos de corrupción.
  </p>
  <p class="text-justify text-dark">
    <strong>7. Ley Orgánica de la Administración Pública Federal. </strong> Esta Ley se reformó para establecer el
    papel de la Secretaría de la Función Pública como parte fundamental del combate a la corrupción. Además, establece
    las funciones de esta Secretaría como parte del Comité Coordinador del SNA.
  </p>

</div>