<div class="card card-body shadow">
  <h1 class="card-title">
    ¿QUÉ HACEMOS?
  </h1>

  <p class="text-justify text-dark">
    El Sistema Nacional tiene por objeto establecer principios, bases generales, políticas públicas y procedimientos
    para la coordinación entre las autoridades de todos los órdenes de gobierno en la prevención, detección y sanción de
    faltas administrativas y hechos de corrupción, así como en la fiscalización y control de recursos públicos. Es una
    instancia cuya finalidad es establecer, articular y evaluar la política en la materia.
  </p>
</div>