<div class="card card-body shadow">
  <h1 class="card-title ">
    ¿QUIÉNES SOMOS?
  </h1>
  <p class="text-justify text-dark">
    El Sistema Nacional Anticorrupción (SNA) es una instancia de coordinación entre distintas autoridades federales y
    locales que busca combatir eficazmente a la corrupción.
  </p>
  <p class="text-justify text-dark">
    Está integrado por el Comité Coordinador, el Comité de Participación Ciudadana, el Comité Rector del Sistema
    Nacional de Fiscalización y los Sistemas Locales Anticorrupción. También cuenta con una Secretaría Ejecutiva y una
    Comisión Ejecutiva.
  </p>
  <p class="text-justify text-dark">
    El Comité Coordinador del SNA es el responsable de establecer los mecanismos de coordinación entre los integrantes
    del Sistema Nacional y de diseñar, promocionar y evaluar las políticas públicas de combate a la corrupción.
  </p>
  <p class="text-justify text-dark">
    Este comité se integra por las y los titulares de la Auditoría Superior de la Federación, de la Fiscalía
    Especializada de Combate a la Corrupción, de la Secretaría de la Función Pública, del Consejo de la Judicatura
    Federal, así como, por los presidentes del Comité de Participación Ciudadana, del Instituto Nacional de
    Transparencia, Acceso a la Información y Protección de Datos Personales y del Tribunal Federal de Justicia
    Administrativa.
  </p>
  <p class="text-justify text-dark">
    El Comité de Participación Ciudadana es, esencialmente, la instancia de vinculación con las organizaciones sociales
    y académicas relacionadas con las materias del SNA y, además, coadyuva al cumplimiento de los objetivos del Comité
    Coordinador. Este comité se integra por cinco ciudadanos de probidad y prestigio que se hayan destacado por su
    contribución a la transparencia, la rendición de cuentas o el combate a la corrupción.
  </p>
  <p class="text-justify text-dark">
    El Comité Rector del Sistema Nacional de Fiscalización tiene la tarea de establecer acciones y mecanismos de
    coordinación para promover el intercambio de información, ideas y experiencias con el objetivo de avanzar en el
    desarrollo de la fiscalización de los recursos públicos. Este comité está conformado por las personas titulares de
    la Auditoría Superior de la Federación y de la Secretaría de la Función Pública; así como, siete miembros rotatorios
    de entre las entidades de fiscalización superior locales y las secretarías o instancias homólogas encargadas del
    control interno en las entidades federativas.
  </p>
  <p class="text-justify text-dark">
    Los Sistemas Locales Anticorrupción deben integrarse y funcionar de manera similar al Sistema Nacional
    Anticorrupción. Es decir, las leyes estatales anticorrupción deben seguir los lineamientos de la Ley General del
    Sistema Nacional Anticorrupción para conformar los sistemas locales.
  </p>
</div>