<div class="card card-body shadow">
  <h1 class="card-title">
    NUESTRA ESTRUCTURA
  </h1>


  <p class="text-justify text-dark">
    El Sistema Nacional Anticorrupción está compuesto por los integrantes del Comité Coordinador, el Comité de
    Participación Ciudadana, el Comité Rector del Sistema Nacional de Fiscalización y los Sistemas Locales
    Anticorrupción. Cuenta con una Secretaría Ejecutiva y una Comisión Ejecutiva.

  </p>
  <p class="text-justify text-dark">
    La función del Comité Coordinador es ser la instancia responsable de establecer mecanismos de coordinación entre los
    integrantes del Sistema Nacional Anticorrupción, así como de diseñar, promocionar y evaluar las políticas públicas
    de combate a la corrupción.

  </p>
  <p class="text-justify text-dark">
    Entre las tareas del Comité Coordinador se encuentran: instrumentar los mecanismos, bases y principios de
    coordinación con las autoridades de fiscalización, control y prevención de faltas administrativas y hechos de
    corrupción; el establecimiento de mecanismos de coordinación con los Sistemas Locales Anticorrupción; y participar
    en los mecanismos de cooperación internacional para el combate a la corrupción.

  </p>
  <p class="text-justify text-dark">
    El Comité de Participación Ciudadana es la instancia que contribuye a cumplir los objetivos del Comité Coordinador,
    asimismo, tiene como función la vinculación con las organizaciones sociales y académicas relacionadas con las
    materias del Sistema Nacional Anticorrupción y está integrado por cinco ciudadanos que hayan destacado por su
    contribución a la transparencia.

  </p>
  <p class="text-justify text-dark">
    Está integrado por cinco ciudadanos honorables y de prestigio, que se hayan destacado por su contribución a la
    transparencia, la rendición de cuentas o el combate a la corrupción.

  </p>
  <p class="text-justify text-dark">
    Algunas de sus funciones principales son opinar y realizar propuestas sobre la política nacional y políticas
    integrales; proponer al Comité Coordinador los proyectos de bases de coordinación entre las instituciones de
    fiscalización de recursos públicos, los proyectos de mejora a los instrumentos de la Plataforma Digital Nacional,
    así como los mecanismos para que la sociedad participe en la prevención y denuncia de hechos de corrupción.

  </p>
  <p class="text-justify text-dark">
    El Comité Rector del Sistema Nacional de Fiscalización es presidido de manera dual por el auditor Superior de la
    Federación y la persona titular de la Secretaría de la Función Pública, o por los representantes que de manera
    respectiva designen para este cargo.

  </p>
  <p class="text-justify text-dark">
    Es responsable de diseñar, aprobar y promocionar las políticas integrales en materia de fiscalización; instrumentar
    los mecanismos de coordinación entre todos los integrantes del Sistema e; implementar los mecanismos de suministro,
    intercambio, sistematización y actualización de la información que en materia de fiscalización y control de recursos
    públicos generan las instituciones competentes en la materia.

  </p>
  <p class="text-justify text-dark">
    Los Sistemas Locales Anticorrupción de los estados de la República, deberán contar con una integración y
    atribuciones equivalentes a las del Sistema Nacional Anticorrupción. Tienen acceso a la información pública
    necesaria, adecuada y oportuna para el mejor desempeño de sus funciones; emiten recomendaciones, políticas públicas
    e informes; así como, deben contar con atribuciones y procedimientos adecuados para dar seguimiento a las
    recomendaciones, informes y políticas que emitan.

  </p>
  <p class="text-justify text-dark">
    La Secretaría Ejecutiva es un organismo descentralizado, no sectorizado, con personalidad jurídica y patrimonio
    propio, con autonomía técnica y de gestión, mismo que tendrá su sede en la Ciudad de México. Contará con una
    estructura operativa para la realización de sus atribuciones, objetivos y fines. Esta funge como órgano de apoyo
    técnico del Comité Coordinador del Sistema Nacional Anticorrupción y es responsable de brindar los insumos
    necesarios para el desempeño de sus atribuciones.

  </p>
  <p class="text-justify text-dark">
    La Comisión Ejecutiva genera los insumos técnicos necesarios para que el Comité Coordinador realice sus funciones;
    propone políticas de prevención, control y disuasión de faltas administrativas y hechos de corrupción; plantea la
    metodología para medir y dar seguimiento al fenómeno de la corrupción; emite los informes de las evaluaciones que
    someta a su consideración el Secretario Técnico respecto a las políticas; crea los mecanismos de suministro,
    intercambio, sistematización y actualización de la información en materia de fiscalización y control de recursos
    públicos, de prevención, control y disuasión de faltas administrativas y hechos de corrupción; entre otras.
  </p>
</div>