<div class="container-fluid mt-2">
    <!-- start page title -->
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="card card-body shadow">
          <h1 class="card-title">
            NOTICIAS
          </h1>
  
          <p class="text-justify text-dark">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum praesentium laudantium recusandae cumque eius
            incidunt deleniti iusto quia enim modi dolorem, ex accusamus labore dicta? Alias provident facere tempore
            quia!
          </p>
        </div>
      </div>
    </div>
    <!-- end page title -->
  </div> <!-- end container -->