<div class="card card-body shadow">
  <h1 class="card-title ">
    NUESTRA MISIÓN
  </h1>
  <p class="text-justify text-dark">
    El Sistema Nacional Anticorrupción tiene la misión de coordinar el combate a la corrupción entre las autoridades
    locales y federales. El SNA articula esfuerzos institucionales para que, mediante el aumento de la transparencia y
    la rendición de cuentas, se fortalezca la confianza de los ciudadanos en las instituciones públicas. Busca prevenir,
    detectar y sancionar las responsabilidades administrativas y los hechos de corrupción y, además, tiene la misión de
    diseñar e implementar la política anticorrupción.
  </p>
</div>